{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"semi": true,
	"useTabs": true,
	"trailingComma": "all",
	"tabWidth": 2,
	"singleQuote": true,
	"singleAttributePerLine": true,
	"plugins": ["prettier-plugin-tailwindcss"]
}
